In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn as sk

In [4]:
df = pd.read_csv('data/ner-test.tsv', delimiter='\t')
df.head(20)

    sentence id  token id      token BIO NER tag
0             0         0          I           O
1             0         1      would           O
2             0         2        n't           O
3             0         3         be           O
4             0         4     caught           O
5             0         5       dead           O
6             0         6   watching           O
7             0         7        the           O
8             0         8        NFL       B-ORG
9             0         9         if           O
10            0        10         it           O
11            0        11       were           O
12            0        12        n't           O
13            0        13        for           O
14            0        14     Taylor    B-PERSON
15            0        15      Swift    I-PERSON
16            0        16          .           O
17            1         0      Chris    B-PERSON
18            1         1  O'Donnell    I-PERSON
19            1         2     stated           O